# Database connection string
# Replace 'postgres' and 'password' with your actual PostgreSQL username and password.
# 'localhost:5432' is the default host and port for PostgreSQL.
# 'skillz_db' is the name of the database.
DATABASE_URL="postgresql://postgres:password@localhost:5432/skillz_db?schema=public"

# Environment
NODE_ENV="development"

# Authentication
# JWT_SECRET="your_jwt_secret_here"
